body {
    background-color: hsl(0, 0%, 10%);
    height: 100%;
    margin: 0;
    width: 100%;
}

#canvas {
    background-color: hsl(0, 0%, 20%);
    bottom: 0;
    height: 400px;
    image-rendering: pixelated;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
}